body {
    background-color: #f6f7fb;
}

/* === Tarjetas principales === */
.tarjeta-main {
    border-radius: 1.3rem;
    border: 1px solid #dcdcdc;
    transition: all 0.3s ease-in-out;
    background: #fff;
}

.tarjeta-main:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

/* === Tarjetas de historial === */
.tarjeta-historial {
    background: #fff;
    border-radius: 1rem;
    transition: all 0.3s ease;
}

.tarjeta-historial:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
}

/* === Solicitudes === */
.solicitud-card,
.auditoria-card {
    background: #fafafa;
    border: 1px solid #e0e0e0;
    border-radius: 0.8rem;
    padding: 0.8rem 1rem;
    margin-bottom: 0.6rem;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.solicitud-card:hover,
.auditoria-card:hover {
    background-color: #f0f8ff;
    border-color: #046807;
    box-shadow: 0 4px 12px rgba(13, 110, 253, 0.15);
}

/* === Modal === */
.modal-content {
    border-radius: 1.2rem;
    border: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}



.modal-body th {
    color: #6c757d;
    font-weight: 500;
}